<header>
  <nav class="header-nav">
    <a class="header-title" href="/">KamaLibrary <img class="header-img" src="https://st-1.akipress.org/st_all/bilim/9/1519540999.2.jpg" alt=""> </a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Book</a></li>
    </ul>
  </nav>
</header>
